@page "/weather"
@using System.Globalization
@using WeatherFrontend.Services
@inject WeatherServiceImpl weatherService
@rendermode InteractiveServer

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<div>
    <p class="mb-1">Zadejte město:</p>
    <div class="divWithInputCity mb-4">
        <input class="form-control inputCity" type="text" @bind="_town" @onkeydown="HandleKeyDown"/>
        <button class="btn btn-primary px-4" @onclick="GetActualTemperature">Zobrazit aktuální teplotu</button>
    </div>
    
    @if (_actualTemperatureResponse != null)
    {
        <p>Aktuální teplota je: <b>@_actualTemperatureResponse.Current.Temperature @_actualTemperatureResponse.CurrentUnits.Temperature</b></p>
    }
    <hr/>
    @if (_logtitude.HasValue && _latitude.HasValue)
    {
        <div class="divDates">
            <div class="mb-2">
                <p class="mb-1">Od datumu</p>
                <InputDate @bind-Value="_startDate" min="@todayString" class="form-control flatpickr-input"/>
            </div>
            <div>
                <p class="mb-1">Po datum:</p>
                <InputDate @bind-Value="_endDate" min="@todayString" class="form-control"/>
            </div>
        </div>
        <div class="w-100 d-flex mt-2 divViewWeather">
            <button class="btn btn-primary m-auto" @onclick="GetForecast">Zobrazit předpověď</button>
        </div>
        

        @if (_forecastResponse != null)
        {
            <table class="table mt-2">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Čas</th>
                    <th>Pocitová teplota</th>
                    <th>Srážky</th>
                    <th>Relativní vlhkost</th>
                    <th>Rychlost větru</th>
                </tr>
                </thead>
                <tbody>
                @for (int i = 0; i < _forecastResponse.Hourly.Time.Count; i++)
                {
                    <tr>
                        <td>@(i + 1)</td>
                        <td>@_forecastResponse.Hourly.Time[i]</td>
                        <td>@_forecastResponse.Hourly.ApparentTemperature[i]</td>
                        <td>@_forecastResponse.Hourly.Precipitation[i]</td>
                        <td>@_forecastResponse.Hourly.Relativehumidity2M[i]</td>
                        <td>@_forecastResponse.Hourly.Windspeed10M[i]</td>
                    </tr>
                }
                </tbody>
            </table>
        }
    }
    <hr/>
    
    <div class="mb-5 d-flex flex-column">
        <div class="mb-3">
            <label for="formFile" class="form-label">Vyberte obrázek k rozpoznání počasí</label>
            @* <input class="form-control" type="file" id="formFile"> *@
            <InputFile OnChange="LoadImage" accept="image/*" class="form-control" id="formFile"/>
            
        </div>
        <div class="d-flex flex-row">
            <div class="divMyImage">
                <img src="@_imageDataUrl" class="myImage"/>
            </div>
            

            <div class="divButtonAndAnswer d-flex flex-column mt-4">
                <button class="btn btn-primary" @onclick="Detect" title="Rozpoznat počasí na obrázku">Rozpoznat obrázek</button>

                @if (_recognizeWeatherResponse != null)
                {
                    <p class="pAnswer">@_recognizeWeatherResponse.Weather - @_recognizeWeatherResponse.Confidence %</p>
                }
            </div>
        </div>
    </div>
    
    
    
</div>

@code {
    private string todayString = DateTime.Today.ToString("yyyy-MM-dd", CultureInfo.InvariantCulture);
    private DateTime _startDate = DateTime.Today.AddDays(1);
    private DateTime _endDate = DateTime.Today.AddDays(1);
    private string? _town { get; set; }
    private float? _logtitude { get; set; } = null;
    private float? _latitude { get; set; } = null;
    private string? _imageDataUrl;
    private byte[] _data = [0];
    
    private ActualTemperatureResponse? _actualTemperatureResponse { get; set; }
    private ForecastResponse? _forecastResponse { get; set; }
    private RecognizeWeatherResponse? _recognizeWeatherResponse { get; set; }
    
    private async Task LoadImage(InputFileChangeEventArgs e)
    {
        var file = e.File;

        using var stream = file.OpenReadStream(maxAllowedSize: 50_000_000);
        using var ms = new MemoryStream();
        await stream.CopyToAsync(ms);
        _data = ms.ToArray();

        var base64 = Convert.ToBase64String(_data);
        var contentType = file.ContentType;
        _imageDataUrl = $"data:{contentType};base64,{base64}";
        StateHasChanged();
    }
    
    private async Task HandleKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await GetActualTemperature();
        }
    }

    public async Task GetActualTemperature()
    {
        if(_town == null)
            return;

        _actualTemperatureResponse = await weatherService.GetActualTemperature(_town);
        _logtitude = _actualTemperatureResponse.Longitude;
        _latitude = _actualTemperatureResponse.Latitude;
        StateHasChanged();
    }

    public async Task GetForecast()
    {
        if (_latitude.HasValue && _logtitude.HasValue)
        {
            int forecastDays = (_endDate - _startDate).Days;
            _forecastResponse = await weatherService.GetForecast(
                _latitude.Value,
                _logtitude.Value,
                _startDate.ToString("yyyy-MM-dd"),
                _endDate.ToString("yyyy-MM-dd"),
                forecastDays,
                forecastHours: 0
            );
        }
    }

    public async Task Detect()
    {
        if(_data.Length == 0)
            return;
        
        using (MemoryStream ms = new MemoryStream(_data))
        {
            _recognizeWeatherResponse = await weatherService.RecognizeImage(ms);
        }
    }
}
